# variables will be loaded and used by the run_test.py script

# required

# TREE
-t = test.tre 

# ALIGNMENT
-a = test.phy

# NUMBER_OF_THREADS
-T = 4

# NUMBER_OF_REPS
-N = 100

# optional

# (require overlap)
-O = 10

# THRESHOLD
-L = 0

# -q PARTITIONS
# -o RESULTS_DIR
# -r RESULT_PREFIX
# -s START_NODE_NUMBER
# -p STOP_NODE_NUMBER
# -B BAD_BRANCHES
# -C CLADE

# -v (verbose)
-v 
# --retain-temp
# set automatically by higher general test config
-e QuartetSamplingTest2
# -X RAXML_EXECUTABLE
