# variables will be loaded and used by the run_test.py script

# ###################
# REQUIRED PARAMETERS
# ###################

# TREE
--tree test.tre 

# ALIGNMENT
--alignment test.phy

# NUMBER_OF_THREADS
--threads 4

# NUMBER_OF_REPS
--reps 100

# ###################
# OPTIONAL PARAMETERS 
# ###################

# (require overlap)
--min-overlap 10

# THRESHOLD
--lnlike 0

# --partitions PARTITIONS
# --results-dir RESULTS_DIR
# --results-prefix RESULT_PREFIX
# --start-node-number START_NODE_NUMBER
# --stop-node-number STOP_NODE_NUMBER
# --clade CLADE
--verbose 
--retain-temp
--temp-dir QuartetSamplingTest2
# --engine-exec raxmlHPC
# --engine raxml
--engine-model JC
