# variables will be loaded and used by the run_test.py script

# required

# TREE
--tree test.tre 

# ALIGNMENT
--align test.phy

# NUMBER_OF_THREADS
--threads 4

--data-type amino

# NUMBER_OF_REPS
--reps 100

# optional

# (require overlap)
--min-overlap = 10

# THRESHOLD
--lnlike 2

--engine raxml-ng
--engine-exec raxml-ng

--retain-temp
