# variables will be loaded and used by the run_test.py script

# ----- required -----

# TREE
-t = cyp.tre 

# ALIGNMENT
-a = cyp.phy

# NUMBER_OF_THREADS
-T = 8

# NUMBER_OF_REPS
-N = 200

# ----- optional -----

# (require overlap)
-O = 100

# THRESHOLD
-L = 2

# -q PARTITIONS
# -o RESULTS_DIR
# -r RESULT_PREFIX
# -s START_NODE_NUMBER
# -p STOP_NODE_NUMBER
# -B BAD_BRANCHES
# -C CLADE

# -v (verbose)

# ----- set automatically by general test config ------

# -e TEMP_DIR
# -X RAXML_EXECUTABLE
